{% load static %}
<footer>
    <div class="col-12">
        <div class="row">
            <div class="col-8 p-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu eleifend turpis, sed sagittis felis. Morbi viverra dapibus pharetra. Nam placerat rhoncus ante, non consequat leo consectetur at. In hac habitasse platea dictumst. Donec tristique sollicitudin faucibus. Phasellus vitae libero sit amet sapien vestibulum scelerisque. Nullam porttitor tempor mattis. Pellentesque dignissim malesuada euismod. Nunc erat ex, fermentum at rhoncus ac, iaculis id eros. Sed gravida ante odio. Morbi bibendum interdum mattis. Nam blandit gravida nisi a ullamcorper. Vestibulum non eleifend nisl, et semper tortor. Donec ac turpis viverra, gravida risus ac, hendrerit magna. Aliquam erat volutpat.

                In imperdiet tristique nisl vel dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pretium lectus in ultrices posuere. Morbi quis euismod magna. Nullam accumsan ac neque eu cursus. Praesent ipsum mauris, scelerisque a sem nec, posuere ornare ante. Nullam congue interdum bibendum. In vulputate ut erat a egestas. Sed pretium velit lectus, quis tempus dui varius sit amet. Curabitur at auctor arcu, molestie elementum nisi. Maecenas sem enim, accumsan ut magna lobortis, lobortis ullamcorper lectus.
            </div>

            <div class="col-4 p-5">
                <div class="container h1 text-right">
                    <i class="fab fa-facebook-f ml-2"></i>
                    <i class="fab fa-instagram ml-2"></i>
                    <i class="fab fa-twitter ml-2"></i>
                    <i class="fab fa-youtube ml-2"></i>

                </div>
                <div>
                    <img src='{% static 'award.png' %}' height=90 width='auto'>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 bg-white text-center p-2"><p>&copy; 2019 Improveo<p></div>
</footer>
